* {
    box-sizing: border-box;
    padding:0;
    margin: 0;
  }
  body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(37,76,241,1) 0%, rgba(9,189,226,1) 97%);
    font-family: "Roboto Condensed", sans-serif;
  }

  
/* HEADER */
.header{
    display: flex;
    justify-content: space-around;
}
.header__logo{
    width: 250;
    height: 83px;
}
.header__nav{
    display: flex;
    align-items: center;
}
.header__nav__list{
    display: flex;
    gap: 20px;
    padding: 20px;
}
.header__nav__list > li {
    list-style: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.header__nav__list > li:hover{
  color: rgb(255, 255, 255);
}

/* MAIN */
.main{
  height: 76vh; 
}

.slider-frame{
  width: 1280px;
  margin: 50px auto 0;
  overflow: hidden;

}

.slider-frame ul{
  display: flex;
  padding: 0;
  width: 300%;

  animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
  list-style: none;
  width: 100%;
}

.card{
  width: 1280px;
  height: 350px;
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.3);
  display: grid;
  grid-template-columns: 50% 50%;
}

.card__text{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 20px 20px 20px;
}

.card__text h3{
  font-size: 30px;
}

.card__text p{
  line-height: 2;
}

.card__img{
  width: 100%;
  height: 300px;
}

@keyframes slide {
  0% {margin-left: 0%;}
  30% {margin-left: 0%;}

  35% {margin-left: -100%;} 
  60% {margin-left: -100%;}

  65% {margin-left: -200%;}
  95% {margin-left: -200%;}
}

/* FOOTER */
.footer{
  background-color: black;
  height: 83px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.footer h2{
  font-size: 20px;
  color: white;
  font-weight: 400;
}

/* ENTREPRISES SUPPORT */
.enterprises-support{
  background-color: white;
  height: 76vh;
  padding: 40px 20px 20px 20px;
  text-align: center;
}

.enterprises-support__cards{
  margin-top: 80px;
  height: 100%;
  display: flex;
  gap: 20px;

}
.enterprises-support__cards h4{
  margin-bottom: 10px;
}